@tailwind base;
@tailwind utilities;

:root {
   --bg: #ffffff;
   --bga: rgba(255, 255, 255, 0.5);
   --gray-200: #f1f3f7;
   --gray-500: #bec8d4;
   --gray-700: #4a5568;
   --orange-300: #fbd38d;
   --green-300: #9ae6b4;
   --green-500: #48bb78;
   --green-600: #38a169;
   --red-300: #e69a9a;
   --yellow-300: #faf089;
   --yellow-700: #b7791f;
   --blue-300: #90cdf4;
   --blue-500: #4299e1;
   --blue-700: #2b6cb0;
}

body {
   background-color: var(--bg);
}

.backdrop {
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   background-color: rgba(250, 250, 250, 0.8);
}

.sticky {
   position: sticky;
   top: 0;
}

.bgwhite {
   background-color: var(--bga);
   backdrop-filter: blur(12px);
}

.new-entry::after {
   content: "Nuovo";
   position: absolute;
   top: -11px;
   background-color: #4299e1;
   border: 1px solid #3782c0;
   text-transform: uppercase;
   font-size: 10px;
   color: #fff;
   padding: 2px 7px;
   border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
   :root {
      --bg: rgba(26, 31, 38, 1);
      --bga: rgba(26, 31, 38, 0.5);
      --gray-200: #272f3d;
      --gray-500: #3b4455;
      --gray-700: #8c9499;
      --green-300: #76e49c;
      --green-500: #3daf6d;
      --green-600: #25c06e;
   }

   body {
      color: #d3d9e2;
   }

   .backdrop {
      background-color: var(--bga);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      /* background-color: rgba(250, 250, 250, 0.8); */
   }
}
